$dark1:rgba(0,0,0,0.1);
$border:rgba(255,255,255,0.1);
$blueBg:rgb(75, 78, 110);

@mixin highlight($weight, $color, $fontStyle) {
    font-weight:$weight;
    color:$color;
    font-style:$fontStyle;
}

@mixin heading($weight) {
    border-bottom:1px solid $dark1;
}

.App {
    width:100vw;
    height:100vh;
    display:grid;
    place-items:center;
    box-sizing:border-box;
}

.App .contentGrid {
    z-index:0;
    display:grid;
    grid-template-columns:50px 1fr 1fr;
    width:100%;
    height:100%;
    box-sizing:border-box;
    position:relative;
    gap:1rem;
    padding:1rem;

    .sidebar {
        color:#fff;
    }

    .masked-codeContainer, .previewContainer {
        border-radius:4px;
        border:1px solid $border;
        box-shadow:0px 1px 4px $dark1;
        position:relative;
    }

    .previewContainer {
        background-color:#fff;
        color:#000;
        box-sizing:border-box;

        .previewContent {
            height:100%;
            width:100%;
            padding:1rem;
            box-sizing:border-box;
            position:absolute;
            overflow-y:scroll;
            word-wrap: break-word;     
            word-wrap:break-word;
            // * {
            //     margin-top:0;
            //     margin-bottom:0;
            //     padding-top:0;
            //     padding-bottom:0;
            // }
            code {
                display:block;
                border-radius:2px;
                padding:1rem;
                box-sizing:border-box;
                border:1px solid $dark1;
                background-color:$blueBg;
                font-family: 'Roboto Mono', monospace;
                color:#fff;
            }
            h1 {
                @include heading(200);
            }
            h2 {
                @include heading(200);
            }
            h3 {
                @include heading(200);
            }
            h4 {
                @include heading(200);
            }
            h5 {
                @include heading(200);
            }
            h6 {
                @include heading(200);
            }
            blockquote {
                border-left:4px solid $dark1;
                padding-left:0.5rem;
            }
        }
    }

    .masked-codeContainer {

        overflow-y:scroll;

        .full-codeContainer {
            font-family: 'Roboto Mono', monospace;
            position:absolute;
            top:0;
            left:0;
            width:100%;
            min-height:100%;

            pre.codeView {
                padding:1rem;
                padding-left:0;
                padding-right:0;
                margin:0;
                font-family:inherit;
                color:#fff;
                white-space: pre-wrap;     
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;    
                white-space: -o-pre-wrap;  
                word-wrap: break-word;     
                word-wrap:break-word;

                /*
                    available fonts:
                      Thin 100 
                      Thin 100 Italic 
                      ExtraLight 200 
                      ExtraLight 200 Italic 
                      Light 300 
                      Light 300 Italic 
                      Regular 400 
                      Regular 400 Italic 
                      Medium 500 
                      Medium 500 Italic 
                      SemiBold 600 
                      SemiBold 600 Italic 
                      Bold 700 
                      Bold 700 Italic 
                */

                .line {
                    
                    span.h1 {
                        @include highlight(600, rgb(255,255,255), italic);
                    }

                    span.h2 {
                        @include highlight(300, rgb(255, 255, 255), italic);
                    }

                    span.h3 {
                        @include highlight(300, rgb(201, 201, 201), italic);
                    }

                    span.h4 {
                        @include highlight(300, rgb(194, 194, 194), italic);
                    }

                    span.h5 {
                        @include highlight(300, rgb(174, 171, 171), italic);
                    }

                    span.h6 {
                        @include highlight(300, rgb(168, 168, 168), italic);
                    }

                    span.default {
                        @include highlight(200, rgba(255, 255, 255, 0.9), normal);
                    }
                    .lineNumber {
                        width:2.25rem;
                        padding-left:0.5rem;
                        font-size:0.75rem;
                        display:inline-block;
                        border-right:0.1rem solid $border;
                        margin-right:0.6rem;
                    }
                }
            }

            .hiddenInput {
                font-family:inherit;
                position:absolute;
                top:0;
                left:0;
                width:100%;
                height:100%;
                padding:1rem;
                padding-left:2.75rem + 0.75rem;
                padding-right:0;
                margin:0;
                font-size:1rem;
            
                border:none;
                background-color:transparent;
                color:transparent;
                caret-color:aqua;

                outline:none;
                resize:none;
                box-sizing:border-box;
                white-space: pre-wrap;       
                white-space: -moz-pre-wrap;  
                white-space: -pre-wrap;      
                white-space: -o-pre-wrap;    
                word-wrap:break-word;
            }
        }
    }
}

.App h1, .App h2, .App h3, .App h4, .App h5, .App h6 {
    margin:0;
    padding:0;
}

@media only screen and (max-width: 768px) {
    html {
        font-size:8px;
    }
    .App .contentGrid {
        grid-template-columns:40px 1fr;
        grid-template-rows:1fr 1fr;
        grid-template-areas: 
            "sidebar editor"
            "sidebar preview";
        
        .sidebar {
            grid-area:sidebar;
        }
    }
}